.details {
  background-color: var(--color-grey-light-2);
  display: flex;
  border-bottom: var(--line);
  padding: 4rem;
  font-size: 1.4rem;

  @media only screen and (max-width:$bp-large) {
    font-size: 1.6rem;
    padding: 2.5rem;
  }

  @media only screen and (max-width:$bp-small) {
    flex-direction: column;
  }

  .description{
    box-shadow: --box-shadow-light;
    padding: 2.5rem;
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4rem;
    border-radius: 3px;

    @media only screen and (max-width:$bp-medium) {
      margin-right: 3rem;
    }

    @media only screen and (max-width:$bp-small) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  
    .paragraph:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    .list {
      list-style: none;
      margin: 2rem 0;
      border-bottom: var(--line);
      border-top: var(--line);
      padding: 2.8rem 4rem;
      display: flex;
      flex-wrap: wrap;

      &__item{
        width: 50%;

        &::before {
          content: "";
          display: inline-block;
          height: 1rem;
          width: 1rem;
          background-color: var(--color-primary);
          mask-image: url('../../assets/chevron-thin-right.svg');
          margin-right: .5rem;
          mask-size: cover;
        }
      }
    }

    .recommend{
      display: flex;
      align-items: center;

      &__friends {
        display: flex;
      }

      &__count{
        margin-right: auto;
        font-size: 1.3rem;
        color: var(--color-grey-dark-3);
      }
      
      &__photo{
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        box-sizing: content-box;
        border: 3px solid #fff;
  
        &:not(:last-child) {
          margin-right: -1.5rem;
        }
      }
    }
  }

  .reviews{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .review{
      background-color: #fff;
      box-shadow: var(--box-shadow-light);
      border-radius: 3px;
      padding: 3rem;
      position: relative;
      overflow: hidden;

      @media only screen and (max-width:$bp-medium) {
        padding: 2.25rem;
      }
      
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      &__text{
        z-index: 100;
        position: relative;
      }

      &__user{
        margin-top: 2rem;
        display: flex;
        align-content: center;

        &-photo{
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }

        &-box{
          margin-right: auto;
          margin-left: 1rem;
          font-size: 1.15rem;
          text-transform: uppercase;
          letter-spacing: .3px;
        }

        &--name{
          font-weight: 900;
        }
      }

      &::before {
        content: '\201C';
        display: block;
        font-size: 20rem;
        line-height: 1;
        position: absolute;
        top: -2.5rem;
        left: -.8rem;
        font-family: sans-serif;
        z-index: 10;
        color: var(--color-grey-light-2);
      }

      &__rating{
        font-size: 2.3rem;
        color: var(--color-primary);
      }
    }
  }
}