.cta {
  background-color: #fff;
  text-align: center;
  padding: 3.5rem 0;

  &__book-now {
    margin-bottom: 1.5rem;
    color: var(--color-grey-dark-2);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;

    @media only screen and (max-width:$bp-smallest) {
      font-size: 1.8rem;
    }
  }

  &__btn{
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all .2s;
    }

    &--visible{
      padding: 2rem 7.5rem;
    }

    &--invisible{
      padding: 2rem 0;
      position: absolute;
      top: -100%;
      left: 0;
    }

    &:hover {
      background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &--invisible {
      top: 0;

    }

    &:hover &--visible {
      transform: translateY(100%);
    }
  }
}