/* CSS Resets */

html {
  box-sizing: border-box;
  font-size: 62.5%;  /* 62.5% of 16px = 10px, 1rem = 10px */
}

*, 
::before, 
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-grey-dark-1);
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;

  box-sizing: border-box;
}

a{
  text-decoration: none;
}